<!-- Start::Complete Card -->
<div class="complete-card complete-card--type-1-v2" data-aos="fade-up">
  <div class="complete-card__wallet">
    <div class="complete-card__wallet-head">
      <h6 class="complete-card__wallet-head__title-text">Wallet</h6>
      <p class="fb-regular complete-card__wallet-head__title-total-currencies">3 Currencies</p>
    </div>
    <div class="complete-card__wallet-data">
      <div class="complete-card__wallet-data__currencies">
        <div class="wallet-data__currency">
          <img src="../assets/media/images/icons/logo-btc.svg" alt="" class="wallet-data__currency-icon">
          <div class="wallet-data__currency-text">
            <p class="fb-regular fb-regular--bold wallet-data__currency-text-acronym">BTC</p>
            <p class="fb-regular wallet-data__currency-text-name">Bitcoin</p>
          </div>
          <div class="wallet-data__currency-influsion">
            <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="wallet-data__currency-influsion-icon">
            <p class="fb-sm wallet-data__currency-influsion-value">2.36%</p>
          </div>
        </div>
        <div class="wallet-data__currency">
          <img src="../assets/media/images/icons/logo-eth.svg" alt="" class="wallet-data__currency-icon">
          <div class="wallet-data__currency-text">
            <p class="fb-regular fb-regular--bold wallet-data__currency-text-acronym">ETH</p>
            <p class="fb-regular wallet-data__currency-text-name">Ethereum</p>
          </div>
          <div class="wallet-data__currency-influsion">
            <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="wallet-data__currency-influsion-icon">
            <p class="fb-sm wallet-data__currency-influsion-value">1.80%</p>
          </div>
        </div>
        <div class="wallet-data__currency">
          <img src="../assets/media/images/icons/logo-usdt.svg" alt="" class="wallet-data__currency-icon">
          <div class="wallet-data__currency-text">
            <p class="fb-regular fb-regular--bold wallet-data__currency-text-acronym">USDT</p>
            <p class="fb-regular wallet-data__currency-text-name">Tether</p>
          </div>
          <div class="wallet-data__currency-influsion">
            <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="wallet-data__currency-influsion-icon">
            <p class="fb-sm wallet-data__currency-influsion-value">1.64%</p>
          </div>
        </div>
      </div>
      <div class="complete-card__wallet-data__chart">
        <div class="complete-card__wallet-data__chart-wrapper">
          <img src="../assets/media/images/wallet-bubble-chart.png" alt="" class="wallet-data__chart-image">
        </div>
        <div class="complete-card__wallet-data__chart-infusion">
          <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="wallet-data__chart-infusion-icon">
          <p class="fd-md fd-md--bold wallet-data__chart-infusion-value">2.31%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="complete-card__separator"></div>
  <div class="complete-card__balance">
    <div class="complete-card__balance-head">
      <div class="complete-card__balance-head__title">
        <h6 class="complete-card__balance-head__title-text">Balance</h6>
        <div class="complete-card__balance-head__title-influsion">
          <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="complete-card__balance-head__title-influsion-icon">
          <p class="fb-regular fb-regular--bold complete-card__balance-head__title-influsion-value text-bullish">2.36%</p>
        </div>
      </div>
      <p class="complete-card__balance-head__value">USD 12.243,55</p>
    </div>
    <div class="complete-card__balance-revenue">
      <div class="complete-card__balance-revenue__income">
        <div class="balance-revenue__income-title">
          <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="balance-revenue__income-title-icon">
          <p class="fb-regular balance-revenue__income-title-text">Income</p>
        </div>
        <p class="fd-sm fd-sm--bold balance-revenue__income-value">USD 12.243,55</p>
      </div>
      <div class="complete-card__balance-revenue__separator"></div>
      <div class="complete-card__balance-revenue__expenses">
        <div class="balance-revenue__expenses-title">
          <img src="../assets/media/images/icons/arrow-bearish.svg" alt="" class="balance-revenue__expenses-title-icon">
          <p class="fb-regular balance-revenue__expenses-title-text">Expenses</p>
        </div>
        <p class="fd-sm fd-sm--bold balance-revenue__expenses-value">USD 3.132,23</p>
      </div>
    </div>
  </div>
</div>
<!-- End::Complete Card -->