<!-- Start::Complete Card -->
<div class="complete-card complete-card--type-3" data-aos="fade-up">
  <div class="complete-card__head">
    <div class="complete-card__head-title-wrapper">
      <h5 class="complete-card__head-title">BTC/ USD</h5>
      <div class="dropdown complete-card__dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
          1 min
          <img src="../assets/media/images/icons/arrow-down.svg" alt="">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
          <li><a class="dropdown-item" href="#">1 min</a></li>
          <li><a class="dropdown-item" href="#">3 min</a></li>
          <li><a class="dropdown-item" href="#">30 min</a></li>
          <li><a class="dropdown-item" href="#">1 hour</a></li>
          <li><a class="dropdown-item" href="#">24 hour</a></li>
          <li><a class="dropdown-item" href="#">1 day</a></li>
          <li><a class="dropdown-item" href="#">1 week</a></li>
        </ul>
      </div>
    </div>
    <ul class="complete-card__head-tabs" id="pills-tab" role="tablist">
      <li class="complete-card__head-tab">
        <button class="fb-regular fb-regular--bold complete-card__head-tab-text active" id="chart-price-2-tab" data-bs-toggle="pill" data-bs-target="#chart-price-2" type="button" role="tab" aria-controls="chart-price-2" aria-selected="true">Price</button>
      </li>
      <li class="complete-card__head-tab">
        <button class="fb-regular fb-regular--bold complete-card__head-tab-text" id="chart-depth-2-tab" data-bs-toggle="pill" data-bs-target="#chart-depth-2" type="button" role="tab" aria-controls="chart-depth-2" aria-selected="false">Depth</button>
      </li>
    </ul>
    <div class="complete-card__head-values">
      <p class="fb-sm complete-card__head-menu">Open:<span class="complete-card__head-value">18432.320</span></p>
      <p class="fb-sm complete-card__head-menu">High:<span class="complete-card__head-value">18432.320</span></p>
      <p class="fb-sm complete-card__head-menu">Low:<span class="complete-card__head-value">18432.320</span></p>
      <p class="fb-sm complete-card__head-menu">Close:<span class="complete-card__head-value">18432.320</span></p>
    </div>
    <div class="complete-card__head-dropdown">
      <div class="dropdown complete-card__dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
          Price
          <img src="../assets/media/images/icons/arrow-down.svg" alt="">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4" id="pills-tab" role="tablist">
          <li><a class="dropdown-item active" href="#" id="chart-price-tab" data-bs-toggle="pill" data-bs-target="#chart-price" role="tab" aria-controls="chart-price" aria-selected="true">Price</a></li>
          <li><a class="dropdown-item" href="#" id="chart-depth-tab" data-bs-toggle="pill" data-bs-target="#chart-depth" role="tab" aria-controls="chart-depth" aria-selected="false">Depth</a></li>
        </ul>
      </div>
      <div class="dropdown complete-card__dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
          1 min
          <img src="../assets/media/images/icons/arrow-down.svg" alt="">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5" id="pills-tab" role="tablist">
          <li><a class="dropdown-item" href="#">1 min</a></li>
          <li><a class="dropdown-item" href="#">3 min</a></li>
          <li><a class="dropdown-item" href="#">30 min</a></li>
          <li><a class="dropdown-item" href="#">1 hour</a></li>
          <li><a class="dropdown-item" href="#">24 hour</a></li>
          <li><a class="dropdown-item" href="#">1 day</a></li>
          <li><a class="dropdown-item" href="#">1 week</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="tab-content tab-content--desktop">
    <div class="tab-pane fade show active" id="chart-price" role="tabpanel" aria-labelledby="chart-price-tab">
      <div class="complete-card__chart-wrapper">
        <div id="complete-card__chart-candlestick-1" class="complete-card__chart-render"></div>
        <div class="complete-card__chart-area-vignette--left"></div>
        <div class="complete-card__chart-area-vignette--top"></div>
        <div class="complete-card__chart-area-vignette--right"></div>
      </div>
    </div>

    <div class="tab-pane fade" id="chart-depth" role="tabpanel" aria-labelledby="chart-depth-tab">
      <div class="complete-card__chart-wrapper">
        <div id="complete-card__chart-depth-1" class="complete-card__chart-render"></div>
      </div>
    </div>
  </div>

  <div class="tab-content tab-content--mobile">
    <div class="tab-pane fade show active" id="chart-price-2" role="tabpanel" aria-labelledby="chart-price-2-tab">
      <div class="complete-card__chart-wrapper">
        <div id="complete-card__chart-candlestick-2" class="complete-card__chart-render"></div>
        <div class="complete-card__chart-area-vignette--left"></div>
        <div class="complete-card__chart-area-vignette--top"></div>
        <div class="complete-card__chart-area-vignette--right"></div>
      </div>
    </div>

    <div class="tab-pane fade" id="chart-depth-2" role="tabpanel" aria-labelledby="chart-depth-2-tab">
      <div class="complete-card__chart-wrapper">
        <div id="complete-card__chart-depth-2" class="complete-card__chart-render"></div>
      </div>
    </div>
  </div>
</div>
<!-- End::Complete Card -->