<!-- Start::Advance Card -->
<div class="advance-card advance-card--type-3-v4" data-aos="fade-up">
  <div class="advance-card-left">
    <div class="advance-card__title">
      <img src="../assets/media/images/icons/logo-btc.svg" alt="" class="advance-card__title-image">
      <h6 class="advance-card__title-text">BTC</h6>
    </div>
    <div class="advance-card__balance-wrapper">
      <div class="advance-card__balance">
        <p class="advance-card__balance-title">Total Balance</p>
        <p class="advance-card__balance-crypto-value">0.2133214214</p>
        <p class="advance-card__balance-currency-value">
          3,230.98
          <span class="advance-card__balance-currency"> USD</span>
        </p>
      </div>
      <div class="advance-card__balance-chart">
        <div class="advance-card__balance-chart-wrapper">
          <div id="advance-card__card-line-8" class="advance-card__balance-chart-render"></div>
        </div>
        <div class="advance-card__balance-chart-percent">
          <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="advance-card__balance-chart-percent-image">
          <p class="advance-card__balance-chart-percent-value text-bullish">2.36%</p>
        </div>
      </div>
    </div>
    <div class="advance-card__buttons">
      <button class="btn btn-primary advance-card__button btn-sm btn-pill">Withdraw</button>
      <button class="btn btn-secondary advance-card__button btn-sm">Deposit</button>
    </div>
  </div>

  <div class="advance-card-right">
    <div class="advance-card__card">
      <div class="advance-card__card-content">
        <div class="advance-card__card-desc">
          <p class="advance-card__card-desc-title">Exchange Balance</p>
          <div class="advance-card__card-desc-value">
            <p class="advance-card__card-desc-value-crypto">0.213435345</p>
            <p class="advance-card__card-desc-value-currency">3,897.98 USD</p>
          </div>
        </div>
        <div class="advance-card__card-data--line">
          <div class="advance-card__card-chart-wrapper">
            <div id="advance-card__card-line-5" class="advance-card__card-chart-render"></div>
          </div>
        </div>
        <div class="advance-card__card-data--radial">
          <div class="advance-card__card-chart-wrapper">
            <div id="advance-card__card-radial-3" class="advance-card__card-chart-render"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="advance-card__card">
      <div class="advance-card__card-content">
        <div class="advance-card__card-desc">
          <p class="advance-card__card-desc-title">Assets Balance</p>
          <div class="advance-card__card-desc-value">
            <p class="advance-card__card-desc-value-crypto">0.213435345</p>
            <p class="advance-card__card-desc-value-currency">3,897.98 USD</p>
          </div>
        </div>
        <div class="advance-card__card-data--line">
          <div class="advance-card__card-chart-wrapper">
            <div id="advance-card__card-line-6" class="advance-card__card-chart-render"></div>
          </div>
        </div>
        <div class="advance-card__card-data--radial">
          <div class="advance-card__card-chart-wrapper">
            <div id="advance-card__card-radial-4" class="advance-card__card-chart-render"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End::Advance Card -->