<!-- Start::Advance Card -->
<div class="advance-card advance-card--type-3-v2" data-aos="fade-up">
  <div class="advance-card__title">
    <img src="../assets/media/images/icons/logo-eth.svg" alt="" class="advance-card__title-image">
    <h6 class="advance-card__title-text">ETH</h6>
  </div>
  <div class="advance-card__balance">
    <p class="advance-card__balance-title">Total Balance</p>
    <p class="advance-card__balance-crypto-value">0.2133214214</p>
    <p class="advance-card__balance-currency-value">
      3,230.98
      <span class="advance-card__balance-currency"> USD</span>
    </p>
  </div>
  <div class="advance-card__card">
    <div class="advance-card__card-content">
      <div class="advance-card__card-desc">
        <p class="advance-card__card-desc-title">Exchange Balance</p>
        <div class="advance-card__card-desc-value">
          <p class="advance-card__card-desc-value-crypto">0.213435345</p>
          <p class="advance-card__card-desc-value-currency">3,897.98 USD</p>
        </div>
      </div>
      <div class="advance-card__card-data">
        <div class="advance-card__card-chart-wrapper">
          <div id="advance-card__card-line-1" class="advance-card__card-chart-render"></div>
        </div>
        <p class="advance-card__card-percent">-0.32%</p>
      </div>
    </div>
    <div class="advance-card__card-progress">
      <div class="advance-card__card-progress-bar progress-bar--purple"></div>
    </div>
  </div>
  <div class="advance-card__card">
    <div class="advance-card__card-content">
      <div class="advance-card__card-desc">
        <p class="advance-card__card-desc-title">Assets Balance</p>
        <div class="advance-card__card-desc-value">
          <p class="advance-card__card-desc-value-crypto">0.213435345</p>
          <p class="advance-card__card-desc-value-currency">3,897.98 USD</p>
        </div>
      </div>
      <div class="advance-card__card-data">
        <div class="advance-card__card-chart-wrapper">
          <div id="advance-card__card-line-2" class="advance-card__card-chart-render"></div>
        </div>
        <p class="advance-card__card-percent">-0.32%</p>
      </div>
    </div>
    <div class="advance-card__card-progress">
      <div class="advance-card__card-progress-bar progress-bar--green"></div>
    </div>
  </div>
  <div class="advance-card__buttons">
    <button class="btn btn-primary advance-card__button btn-sm btn-pill">Withdraw</button>
    <button class="btn btn-secondary advance-card__button btn-sm">Deposit</button>
  </div>
</div>
<!-- End::Advance Card -->