%heading {
	margin-top: 0; // 1
	margin-bottom: $headings-margin-bottom;
	// font-family: $headings-font-family;
	// font-style: $headings-font-style;
	// font-weight: $headings-font-weight;
	color: $headings-color;
	letter-spacing: -0.01em;
}
