<!-- Start::Standard Card -->
<div class="standard-card standard-card--type-8-v2" data-aos="fade-up">
  <div class="standard-card__container">
    <div class="standard-card__items">
      <div class="standard-card__item standard-card__item--1">
        <div class="standard-card__item-left">
          <img src="../assets/media/images/icons/logo-btc.svg" alt="" class="standard-card__item-image">
          <div class="standard-card__item-desc">
            <p class="fb-regular standard-card__item-title">Bitcoin</p> 
            <p class="fd-sm fd-sm--bold standard-card__item-crypto">BTC/USD</p> 
          </div>
          <img src="../assets/media/images/icons/arrow-down.svg" alt="" class="standard-card__item-arrow">
        </div>
        <div class="standard-card__item-collapse">
          <div class="item-collapse__group-1">
            <div class="item-collapse__title">
              <p class="fb-sm item-collapse__title-text">24h change</p>
              <div class="item-collapse__title-influsion">
                <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="item-collapse__title-influsion-icon">
                <p class="fb-regular fb-regular--bold item-collapse__title-influsion-value text-bullish">2.11%</p>
              </div>
            </div>
            <div class="item-collapse__chart-wrapper">
              <div id="item-collapse__chart-line-2" class="item-collapse__chart-render"></div>
            </div>
          </div>
          <div class="item-collapse__group-2">
            <p class="fb-sm item-collapse__price">Last Price: <span class="item-collapse__price-value text-bullish">18432.320</span></p>
            <p class="fb-sm item-collapse__price">24 h Low: <span class="item-collapse__price-value text-bearish">18432.320</span></p>
          </div>
        </div>
      </div>
      <div class="standard-card__item standard-card__item--2">
        <div class="standard-card__item-left">
          <p class="fb-regular standard-card__item-title">24h Change</p>
          <div class="standard-card__item-influsion">
            <img src="../assets/media/images/icons/arrow-bullish.svg" alt="" class="standard-card__item-influsion-icon">
            <p class="fd-sm fd-sm--bold standard-card__item-influsion-value text-bullish">0.53%</p>
          </div>
        </div>
        <div class="standard-card__item-chart-wrapper">
          <div id="standard-card__item-line-2" class="standard-card__item-chart-render"></div>
        </div>
      </div>
      <div class="standard-card__item standard-card__item--3">
        <p class="fb-regular standard-card__item-title">Last Price</p>
        <p class="fd-sm fd-sm--bold standard-card__item-value">18372.595198 USD</p> 
      </div>
      <div class="standard-card__item standard-card__item--4">
        <p class="fb-regular standard-card__item-title">24h Low</p>
        <p class="fd-sm fd-sm--bold standard-card__item-value">18372.595198 USD</p> 
      </div>
    </div>
  </div>
</div>
<!-- End::Standard Card -->