<!-- Start::Standard Card -->
<div class="standard-card standard-card--type-3-v2 eth" data-aos="fade-up">
  <div class="container">
    <div class="standard-card__content">
      <div class="standard-card__content-head">
        <img src="../assets/media/images/icons/ETH.svg" alt="" class="standard-card__content-image">
        <div class="standard-card__content-desc">
          <div class="standard-card__content-desc-prices">
            <p class="standard-card__content-desc-currency">Ethereum</p>
            <p class="standard-card__content-desc-token">ETH</p>
          </div>
          <p class="standard-card__content-desc-price">USD 1,643.80</p>
        </div>
      </div>
      <div class="standard-card__content-graph">
        <div class="standard-card__content-chart-wrapper">
          <div id="standard-card__content-chart-6" class="standard-card__content-chart-render"></div>
        </div>
        <div class="standard-card__content-percentage">
          <img class="standard-card__content-arrow" src="../assets/media/images/icons/red-arrow-down.svg" alt="">
          <p class="standard-card__content-value text-bearish">1.23%</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End::Standard Card -->