<!-- Start::Standard Card -->
<div class="standard-card standard-card--type-3-v2 btc" data-aos="fade-up">
  <div class="container">
    <div class="standard-card__content">
      <div class="standard-card__content-head">
        <img src="../assets/media/images/icons/Bitcoin.svg" alt="" class="standard-card__content-image">
        <div class="standard-card__content-desc">
          <div class="standard-card__content-desc-prices">
            <p class="standard-card__content-desc-currency">Bitcoin</p>
            <p class="standard-card__content-desc-token">BTC</p>
          </div>
          <p class="standard-card__content-desc-price">USD 53,260.20</p>
        </div>
      </div>
      <div class="standard-card__content-graph">
        <div class="standard-card__content-chart-wrapper">
          <div id="standard-card__content-chart-4" class="standard-card__content-chart-render"></div>
        </div>
        <div class="standard-card__content-percentage">
          <img class="standard-card__content-arrow" src="../assets/media/images/icons/green-arrow-up.svg" alt="">
          <p class="standard-card__content-value text-bullish">2.11%</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End::Standard Card -->