<!-- Start::Standard Card -->
<div class="standard-card standard-card--type-1" data-aos="fade-up">
  <div class="container">
    <p class="standard-card__title">Top gainer (24h)</p>
    <div class="standard-card__content">
      <img src="../assets/media/images/icons/BNB.svg" alt="" class="standard-card__content-image">
      <div class="standard-card__content-desc">
        <p class="standard-card__content-desc-price">USD 567.34</p>
        <p class="standard-card__content-desc-currency">Binance Coin</p>
        <p class="standard-card__content-desc-token">BNB</p>
      </div>
      <div class="standard-card__content-graph">
        <div class="standard-card__content-percentage">
          <img class="standard-card__content-arrow" src="../assets/media/images/icons/green-arrow-up.svg" alt="">
          <p class="standard-card__content-value">110.34%</p>
        </div>
        <div class="standard-card__content-chart-wrapper">
          <div id="standard-card__content-chart-1" class="standard-card__content-chart-render"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End::Standard Card -->